<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connusers" connectionString="Data Source=(LocalDb)\VOG.NN; Initial Catalog=VOG.NN; Integrated Security=true" />
  <add name="Wpf_VOGNN.Properties.Settings.VOG_NNConnectionString"
   connectionString="Data Source=(localDb)\VOG.NN;Initial Catalog=VOG.NN;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>